# Base de datos
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_NAME=planificador_basket_db
DB_PORT=5432

# Autenticacion
JWT_SECRET=cambiar_por_un_secreto_seguro

# Servidor
CORS_ORIGIN=http://localhost:4000,http://localhost:4200
SERVER_PORT=4000
